-- MySQL dump 10.13  Distrib 8.0.42, for Win64 (x86_64)
--
-- Host: localhost    Database: obras_de_solitario
-- ------------------------------------------------------
-- Server version	8.0.42

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `artistas`
--

DROP TABLE IF EXISTS `artistas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `artistas` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `canal_yt` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `otros_canales` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `artistas`
--

LOCK TABLES `artistas` WRITE;
/*!40000 ALTER TABLE `artistas` DISABLE KEYS */;
INSERT INTO `artistas` VALUES (1,'Solitario','https://www.youtube.com/@solitario452',NULL,'2026-06-24 01:49:54'),(2,'intothedarkness.','https://www.youtube.com/@intothedarknessmusic',NULL,'2026-06-24 01:49:54'),(3,'Mick F','https://www.youtube.com/@Knefest',NULL,'2026-06-24 01:49:54'),(4,'Miranda','https://www.youtube.com/@Miranda1999',NULL,'2026-06-24 01:49:54'),(5,'IVO INCUERDO','https://www.youtube.com/@IVOINCUERDO',NULL,'2026-06-24 01:49:54');
/*!40000 ALTER TABLE `artistas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `beatmakers`
--

DROP TABLE IF EXISTS `beatmakers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `beatmakers` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `canal_yt` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `otros_canales` text COLLATE utf8mb4_unicode_ci,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=92 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `beatmakers`
--

LOCK TABLES `beatmakers` WRITE;
/*!40000 ALTER TABLE `beatmakers` DISABLE KEYS */;
/*!40000 ALTER TABLE `beatmakers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `obras`
--

DROP TABLE IF EXISTS `obras`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `obras` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `feat` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `canal` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fecha_obra` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `completa` tinyint(1) DEFAULT NULL,
  `eliminada` tinyint(1) DEFAULT NULL,
  `autor_beat` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nombre_beat` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `fecha_beat` date DEFAULT NULL,
  `link_obra` text COLLATE utf8mb4_unicode_ci,
  `link_beat` text COLLATE utf8mb4_unicode_ci,
  `youtube_id_obra` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `youtube_id_beat` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `observacion` text COLLATE utf8mb4_unicode_ci,
  `tiene_audio` tinyint(1) DEFAULT NULL,
  `tiene_instrumental` tinyint(1) DEFAULT NULL,
  `fuente_recuperacion` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime DEFAULT (now()),
  `updated_at` datetime DEFAULT (now()),
  `letra` text COLLATE utf8mb4_unicode_ci,
  `link_canal_artista` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `link_canal_beat` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `descripcion_beat` text COLLATE utf8mb4_unicode_ci,
  `fecha_subida_beat` date DEFAULT NULL,
  `miniatura_obra` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `miniatura_beat` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `segundo_inicio_obra` float DEFAULT '0',
  `segundo_inicio_beat` float DEFAULT '0',
  `artista_id` int DEFAULT NULL,
  `beatmaker_id` int DEFAULT NULL,
  `video_estado` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT 'no',
  `video_original` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT 'si',
  `audio_estado` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT 'no',
  `miniatura_obra_tipo` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT 'no',
  `obra_vigente` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT 'publico',
  `letra_estado` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT 'no',
  `instrumental_estado` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT 'no',
  `beat_original` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT 'si',
  `miniatura_beat_tipo` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT 'no',
  `beat_vigente` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT 'publico',
  `otros_links_beat` text COLLATE utf8mb4_unicode_ci,
  `feat_beat` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `ix_obras_id` (`id`),
  KEY `fk_artista` (`artista_id`),
  KEY `fk_beatmaker` (`beatmaker_id`),
  CONSTRAINT `fk_artista` FOREIGN KEY (`artista_id`) REFERENCES `artistas` (`id`),
  CONSTRAINT `fk_beatmaker` FOREIGN KEY (`beatmaker_id`) REFERENCES `beatmakers` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=407 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `obras`
--

LOCK TABLES `obras` WRITE;
/*!40000 ALTER TABLE `obras` DISABLE KEYS */;
/*!40000 ALTER TABLE `obras` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios`
--

DROP TABLE IF EXISTS `usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuarios` (
  `id` int NOT NULL AUTO_INCREMENT,
  `username` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `es_admin` tinyint(1) DEFAULT NULL,
  `created_at` datetime DEFAULT (now()),
  PRIMARY KEY (`id`),
  UNIQUE KEY `username` (`username`),
  KEY `ix_usuarios_id` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios`
--

LOCK TABLES `usuarios` WRITE;
/*!40000 ALTER TABLE `usuarios` DISABLE KEYS */;
INSERT INTO `usuarios` VALUES (1,'admin','$2b$12$D0Mhe8LwNVXqyCmM6kgzsOeq8.qu9AAg4jQ1JqFtaWx/zzQ2gTBSq',1,'2026-06-23 03:10:32');
/*!40000 ALTER TABLE `usuarios` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-25  2:31:41
